extends ../layout
block content
  if isShowUser
    include ../images/_addImageForm
  - const images = showUser.images
  include ../images/_pins
    if isShowUser
      p: a.btn.btn-danger(href=`/images/${image.id}/remove`) &times;
