extends layout
block content
  .login-btns
    a.btn.btn-lg.btn-block(href='/auth/google' alt='login with google')
      | Sign in with Google
    a.btn.btn-lg.btn-block(href='/auth/github' alt='login with github')
      | Sign in with Github
    a.btn.btn-lg.btn-block(href='/auth/linkedin' alt='login with linkedin')
      | Sign in with LinkedIn
