extends ../layout
block content
  if user
    include _addImageForm
  else
    a.btn.btn-default.col-xs-offset-2(href='/login') Login to Add Images

  .panel.panel-default
    .panel-heading: h2.text-center #{title}
    ul.list-goup
      each image in images
        li.list-group-item
          img(src=`${image.url}`)
          p #{image.url}
          p #{image.caption}
